body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #2193b0, #6dd5ed);
    user-select: none;
    color: rgb(60, 60, 60);
}

.heading {
    margin-bottom: 40px;
}

.container {
    text-align: center;
    background-color: #ffffff40;
    padding: 40px 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 80vw;
    max-width: 500px;
    margin: 20px;
}

.text-area {
    height: 60px;
    width: 90%;
    resize: none;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffffff60;
}

.text-area::placeholder {
    color: #00000040;
}

.counter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

span {
    font-weight: bold;
}

@media (max-width: 800px) {
    .counter-container {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }
}